extends layout

block content
	#login
		form(action='/login', method="post")#login-form
			h1 Hello!
			p.subheading Welkom bij Live Q&A, log nu in!
			
			label Naam:
			input(type="text", name="username", id='user-tf' placeholder='Joske',required).formnaam
			br 
			label Wachtwoord:
			input(type="password", name="password", id='pass-tf' placeholder='******',required).formwachtwoord
			br
			button(type="submit")#btn-login.btn.btn-primary
				| Sign in	
			
			div.btm-links
				a(href='/signup')#create-account Maak een acount
			
			

					#message
					if message
						h1.text-center.error-message #{message}

