body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #ffbb3f;
}

a {
  color: #00B7FF;
}

#login{
	background-color: white;
	width: 300px;
	height: 220px;
	padding: 20px;
	margin: auto;
}

.formnaam{
	margin-left: 50px;
	margin-bottom: 10px;
}
.formwachtwoord{
	margin-left: 8px;
	margin-bottom: 10px;
}
.formemail{
	margin-left: 54px;
	margin-bottom: 10px;
}