body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {
  color: #00B7FF;
}

h1{
	color: blue;
}

h5{
	color: black;
}
#login{
	background-color: #d9e5e8;
	width: 350px;
	height: 300px;
	padding: 20px;
	margin: auto;
	margin-top: 60px;
	border-radius: 10px;
	
}


#products li a{
	background-color: #d9e5e8;
	padding: 10px;
	border-radius: 3px;
}

#products li a:hover{
	text-decoration: none;
	background-color: #6b87af;
	color: white;
}

#topics{
	margin-top: 20px;
	background-color: #d9e5e8;
}

.formtopic{
	margin: 20px;
}

.formnaam{
	margin-left: 52px;
	margin-bottom: 10px;
}
.formwachtwoord{
	margin-left: 8px;
	margin-bottom: 10px;
}
.formemail{
	margin-left: 54px;
	margin-bottom: 10px;
}

#wrapper{
	background-color: red;
}



#overzicht{
	background-color: red;
}

#create-account {
	color: blue;
	text-decoration: none;
}

#btn-annuleren{
	margin-left: 10px;
}
#user{
		background-color: #d9e5e8;
		height: 60px;
		width: 200px;
		position: absolute;
		right: 10px;
		top:10px;
}

.login-title {
	font-weight: bold;
}

.new-account{
	margin-left: 70px;
}

#banner{
		background-color: #6b87af;
		height: 60px;
		width: 1300px;
		position: absolute;
		left: 10px;
		top:10px;
}

#banner h1{
	color: white;
	text-align: center;
}

.container{
	margin-top: 80px;
}

